
Odev02/.DS_Store
Odev02/package-lock.json
Odev02/package.json
Odev02/public/.DS_Store
Odev02/public/img/.DS_Store
Odev02/public/img/ArkaKapak.PNG
Odev02/public/img/Kedi.jpeg
Odev02/public/img/Kopek.jpeg
Odev02/public/index.html
Odev02/public/style.css
Odev02/src/index.js
Odev02/webpack.config.js
Odev02/yarn.lock
